<!DOCTYPE html>
{% extends 'components/Navbar.html' %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>

<div>

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
</div>


    <script src="{% static 'js/components/navbar.js'%}"></script>

</body>
</html>
